.policy-text {
    font-weight: lighter;
    font-size: 18px;
}

.policy-text li {
     margin-bottom: 15px;
}

.icon {
   padding-right: 5px;
}

.modal-header {
    justify-content: center !important;
    font-size: 26px;
} 